<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시판</title>

  <!-- 합쳐지고 최소화된 최신 CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- 부가적인 테마 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="panel-heading"><h1>게시판</h1></div>

<div class="panel-body">

  <table class="table table-striped table-bordered table-hover"
         id="dataTables-example">
    <thead>
    <tr>
      <th>NO</th>
      <th>제목</th>
      <th>작성자</th>
      <th>최종 수정 날짜</th>
    </tr>
    </thead>
    <tbody>
    <tr class="odd gradeX" th:each="board : ${boardList}">
      <td th:text="${board.id}"></td>
      <td><a th:text="${board.title}" th:href="@{/board/list/{id}(id=${board.id})}"></a></td>
      <td th:text="${board.name}"></td>
      <td th:text="${board.modifiedDate}"></td>

    </tr>
    </tbody>

  </table>


  <a class = "btn btn-primary float-end" th:href="@{/board/write}" type="button">글쓰기</a>

  <nav style="text-align: center;">
    <ul class="pagination"
        th:with="start=${T(java.lang.Math).floor(boardList.number/10) * 10 +1 },
                 last=(${start + 9 < boardList.totalPages ? start + 9 : boardList.totalPages})">



      <li>
        <a th:href="@{/board/list(page=1)}" aria-label="First">
          <span aria-hidden="true">처음</span>
        </a>
      </li>

      <li th:class="${boardList.first} ? 'disabled'">
        <a th:href="${boardList.first} ? '#' :@{/board/list(page=${boardList.number})}" aria-label="Previous">
          <span aria-hidden="true">&lt;</span>
        </a>
      </li>

      <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == boardList.number + 1} ? 'active'">
        <a th:text="${page}" th:href="@{/board/list(page=${page})}"></a>
      </li>

      <li th:class="${boardList.last} ? 'disabled'">
        <a th:href="${boardList.last} ? '#' : @{/board/list(page=${boardList.number + 2})}" aria-label="Next">
          <span aria-hidden="true">&gt;</span>
        </a>
      </li>

      <li>
        <a th:href="@{/board/list(page=${boardList.totalPages})}" aria-label="Last">
          <span aria-hidden="true">끝</span>
        </a>
      </li>
    </ul>
  </nav>

</div>


</div>

</body>
</html>