<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <!-- 합쳐지고 최소화된 최신 CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- 부가적인 테마 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="panel-heading"><h1>Board</h1></div>

<div class="panel-body">

  <table class="table table-striped table-bordered table-hover"
         id="dataTables-example">
    <thead>
    <tr>
      <th>NO</th>
      <th>TITLE</th>
      <th>CONTENT</th>
    </tr>
    </thead>
    <tbody>
    <tr class="odd gradeX" th:each="board : ${boardList}">
      <td th:text="${board.no}"></td>
      <td th:text="${board.title}"></td>
      <td th:text="${board.content}"></td>
    </tr>
    </tbody>

  </table>


</div>

</body>
</html>