<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>comCost Detail Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="panel-heading"><h1>comCost Detail Page</h1></div>

<form>
    <div class="form-group">
        <label for="custCd">custCd</label>
        <p type="text" class="form-control"
               id="custCd" name="custCd" th:text="${detailComCost.custCd}">
        </p>
    </div>
    <div class="form-group">
        <label for="bizCd">bizCd</label>
        <p type="text" class="form-control"
           id="bizCd"  name="bizCd" th:text="${detailComCost.bizCd}"></p>
    </div>
    <div class="form-group">
        <label for="abbrNm">abbrNm</label>
        <p class="form-control" id="abbrNm" name="abbrNm"
           th:text="${detailBoard.abbrNm}"></p>
    </div>

<!--    <a class = "btn btn-primary float-end" th:href = "@{/comCost/list/edit/{custCd}(custCd=${detailComCost.custCd})}"-->
<!--       type="button">수정</a>-->
<!--&lt;!&ndash;    <button type="submit" class="btn btn-primary">수정</button>&ndash;&gt;-->
<!--    <a th:href = "@{/comCost/list/delete/{custCd}(custCd=${detailComCost.custCd})}" type="button" class="btn btn-primary">삭제</a>-->
<!--    <a href="/comCost/list" role="button" class="btn btn-primary">취소</a>-->

</form>

</div>


</body>
</html>