<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>comCost Detail Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="panel-heading"><h1>comCost Detail Page</h1></div>
<div class="details-table" style="max-width: 500px">
<form>
    <div class="form-group">
        <label for="custCd">custCd</label>
        <p type="text" class="form-control"
               id="custCd" name="custCd" th:text="${detailComCost.custCd}">
        </p>
    </div>
    <div class="form-group">
        <label for="bizCd">bizCd</label>
        <p type="text" class="form-control"
           id="bizCd"  name="bizCd" th:text="${detailComCost.bizCd}"></p>
    </div>
    <div class="form-group">
        <label for="custNm">custNm</label>
        <p type="text" class="form-control"
           id="custNm"  name="custNm" th:text="${detailComCost.custNm}"></p>
    </div>
    <div class="form-group">
        <label for="abbrNm">abbrNm</label>
        <p class="form-control" id="abbrNm" name="abbrNm"
           th:text="${detailComCost.abbrNm}"></p>
    </div>


    <div class="form-group">
        <label for="bizregNo">bizregNo</label>
        <p type="text" class="form-control"
           id="bizregNo"  name="bizregNo" th:text="${detailComCost.bizregNo}"></p>
    </div>
    <div class="form-group">
        <label for="bizType">bizType</label>
        <p type="text" class="form-control"
           id="bizType"  name="bizType" th:text="${detailComCost.bizType}"></p>
    </div>
    <div class="form-group">
        <label for="custNm">ceoNm</label>
        <p type="text" class="form-control"
           id="ceoNm"  name="ceoNm" th:text="${detailComCost.ceoNm}"></p>
    </div>
    <div class="form-group">
        <label for="compNm">compNm</label>
        <p type="text" class="form-control"
           id="compNm"  name="compNm" th:text="${detailComCost.compNm}"></p>
    </div>
    <div class="form-group">
        <label for="addr1">addr1</label>
        <p type="text" class="form-control"
           id="addr1"  name="addr1" th:text="${detailComCost.addr1}"></p>
    </div>
    <div class="form-group">
        <label for="addr2">addr2</label>
        <p type="text" class="form-control"
           id="addr2"  name="addr2" th:text="${detailComCost.addr2}"></p>
    </div>
    <div class="form-group">
        <label for="zipCd">zipCd</label>
        <p type="text" class="form-control"
           id="zipCd"  name="zipCd" th:text="${detailComCost.zipCd}"></p>
    </div>
    <div class="form-group">
        <label for="tel1">tel1</label>
        <p type="text" class="form-control"
           id="tel1"  name="tel1" th:text="${detailComCost.tel1}"></p>
    </div>
    <div class="form-group">
        <label for="tel2">tel2</label>
        <p type="text" class="form-control"
           id="tel2"  name="tel2" th:text="${detailComCost.tel2}"></p>
    </div>

    <div class="form-group">
        <label for="fax">fax</label>
        <p type="text" class="form-control"
           id="fax"  name="fax" th:text="${detailComCost.fax}"></p>
    </div>
    <div class="form-group">
        <label for="email">email</label>
        <p type="text" class="form-control"
           id="email"  name="email" th:text="${detailComCost.email}"></p>
    </div>
    <div class="form-group">
        <label for="orderNum">orderNum</label>
        <p type="number" class="form-control"
           id="orderNum"  name="orderNum" th:text="${detailComCost.orderNum}"></p>
    </div>
    <div class="form-group">
        <label for="rmk">rmk</label>
        <p type="text" class="form-control"
           id="rmk"  name="rmk" th:text="${detailComCost.rmk}"></p>
    </div>
    <div class="form-group">
        <label for="useYn">useYn</label>
        <p type="text" class="form-control"
           id="useYn"  name="useYn" th:text="${detailComCost.useYn}"></p>
    </div>
    <div class="form-group">
        <label for="delYn">delYn</label>
        <p type="text" class="form-control"
           id="delYn"  name="delYn" th:text="${detailComCost.delYn}"></p>
    </div>
    <div class="form-group">
        <label for="regId">regId</label>
        <p type="text" class="form-control"
           id="regId"  name="regId" th:text="${detailComCost.regId}"></p>
    </div>
    <div class="form-group">
        <label for="regDt">regDt</label>
        <p type="text" class="form-control"
           id="regDt"  name="regDt" th:text="${detailComCost.regDt}"></p>
    </div>
    <div class="form-group">
        <label for="modId">modId</label>
        <p type="text" class="form-control"
           id="modId"  name="modId" th:text="${detailComCost.modId}"></p>
    </div>
    <div class="form-group">
        <label for="modDt">modDt</label>
        <p type="text" class="form-control"
           id="modDt"  name="modDt" th:text="${detailComCost.modDt}"></p>
    </div>
    <div class="form-group">
        <label for="picNm">picNm</label>
        <p type="text" class="form-control"
           id="picNm"  name="picNm" th:text="${detailComCost.picNm}"></p>
    </div>
    <div class="form-group">
        <label for="picTel">picTel</label>
        <p type="text" class="form-control"
           id="picTel"  name="picTel" th:text="${detailComCost.picTel}"></p>
    </div>

    <a class = "btn btn-primary float-end" th:href = "@{/comCost/list/edit/{custCd}(custCd=${detailComCost.custCd})}"
       type="button">수정</a>
<!--    <button type="submit" class="btn btn-primary">수정</button>-->
    <a th:href = "@{/comCost/list/delete/{custCd}(custCd=${detailComCost.custCd})}" type="button" class="btn btn-primary">삭제</a>
    <a href="/comCost/list" role="button" class="btn btn-primary">취소</a>

</form>
</div>

</div>


</body>
</html>